// Цвета
$main-green: #058052;
$lighter-green: #387e56;
$another-green: #078153;
$dark-green: #004d2e;

$gray: #dfdfdf;
$dark-gray: #707070;
$lighter-gray: #656262;
$input-gray: #ececec;
$another-gray: #c3c3c3;

$links: #003b81;

$yellow: #f7c244;

// Размеры медиазапросов
$phone-min: 320px;
$phone420: 420px;
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$laptop-min: 1024px;
$scaf: 1199px;
$laptop-max: 1439px;
$desktop-min: 1440px;
$container-max: 1719px;
$desktop-max: 1919px;
$desktop-biggest: 1920px;

// Отступы

$desktop-paddings: 50px;
$tablet-paddings: 30px;
$phone-paddings: 20px;