.bottom-header {
	height: 50px;
	font-family: "Montserrat", arial;
	font-weight: 900;
	background-color: $gray;
	@media (max-width: $tablet-max) {
		height: 100%;
		background-color: transparent;
	}
	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__catalog {
		position: relative;
		@media (max-width: $tablet-max) {display: none;}
	}
	&__catalog-link {
		position: relative;
		display: flex;
		align-items: center;
		height: 40px;
		padding-left: 50px;
		padding-right: 70px;
		box-sizing: border-box;
		font-family: "MyriadProRegular", sans-serif;
		font-weight: bold;
		color: black;
		text-decoration: none;
		font-size: 18px;
		background-color: white;
		border-radius: 20px;
		&::after {
			content: "";
			position: absolute;
			top: 14px;
			right: 40px;
			width: 16px;
			height: 16px;
			background: url("../img/down-arrow.svg") no-repeat center/16px;
			@media (max-width: $scaf) {top: 12px;}
		}
		&:hover {opacity: 0.7;}
		&:active {opacity: 0.5;}
		&:focus, &:active {border-radius: 25px 25px 0 0;}
		&:focus ~ .bottom-header__dropdown-list,
		&:active ~ .bottom-header__dropdown-list {
			transform: translateY(0px);
			visibility: visible;
			opacity: 1;
		}
		@media (max-width: $scaf) {height: 36px;}
	}
	&__dropdown-list,
	&__seconddrop-list,
	&__thirddrop-list, {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: white;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
		z-index: 10;
		visibility: hidden;
		opacity: 0;
		transition: .3s ease-in-out;
	}
	&__dropdown-list {transform: translateY(-10px);}
	&__seconddrop-list,	&__thirddrop-list {
		left: 100%;
		width: 300px;
		transform: translateX(-10px);
	}
	&__dropdown-item,
	&__seconddrop-item,
	&__thirddrop-item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		box-sizing: border-box;
		border-bottom: 2px solid $gray;
		&:last-child {
			border-bottom: none;
		}
	}
	&__dropdown-item:hover .bottom-header__seconddrop-list,
	&__seconddrop-item:hover .bottom-header__thirddrop-list {
		transform: translateX(0px);
		visibility: visible;
		opacity: 1;
	}
	&__dropdown-list a {
		display: block;
		width: 100%;
		padding: 10px 50px;
		font-size: 15px;
		font-weight: bold;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {opacity: 0.7;}
		&:active {opacity: 0.5;}
	}
	&__search {
		margin-left: auto;
		margin-right: auto;
		@media (max-width: $tablet-max) {
			width: 100%;
			margin-left: 140px;
			margin-right: 0;
		}
		@media (max-width: $phone-max) {
			position: absolute;
			top: 50px;
			left: 20px;
			width: calc(100vw - 40px);
			margin-left: 0;
		}
	}
	&__search-form {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 6px;
			left: 15px;
			width: 28px;
			height: 28px;
			background: url("../img/search.svg") no-repeat center/28px;
			@media (max-width: $scaf) {
				width: 24px;
				height: 24px;
				background-size: 24px;
			}
			@media (max-width: $tablet-max) {top: 7px;}
			@media (max-width: $phone-max) {
				top: 6px;
				left: 11px;
				width: 17px;
				height: 17px;
				background-size: 17px;
			}
		}
		button {display: none;}
	}
	&__search-input {
		display: flex;
		align-items: center;
		width: 550px;
		height: 40px;
		padding-left: 70px;
		padding-right: 30px;
		box-sizing: border-box;
		font-size: 18px;
		border: none;
		border-radius: 20px;
		&:active,
		&:focus {
			outline: none;
		}
		@media (max-width: $scaf) {
			width: 400px;
			height: 36px;
			padding-left: 50px;
			font-size: 16px;
		}
		@media (max-width: $tablet-max) {
			width: 100%;
			font-size: 20px;
			border-radius: 5px;
			background-color: $input-gray;
		}
		@media (max-width: $phone-max) {
			height: 30px;
			padding: 0 20px 0 40px;
			font-size: 14px;
		}
	}
	&__whatsapp {
		margin-right: 0;
		@media (max-width: $tablet-max) {display: none;}
	}
	&__whatsapp-link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		color: black;
		text-decoration: none;
		background-color: white;
		border-radius: 20px;
		&::before {
			content: "";
			position: absolute;
			top: 7px;
			left: 7px;
			width: 26px;
			height: 26px;
			background: url("../img/whatsapp-icon.svg") no-repeat center/26px;
		}
		&:hover {opacity: 0.7;}
		&:active {opacity: 0.5;}
		@media (max-width: $container-max) {width: 40px;}
		span {
			display: block;
			margin-left: 40px;
			margin-right: 10px;
			font-size: 18px;
			font-weight: 700;
			@media (max-width: $container-max) {display: none;}
		}
	}
	&__user {
		@media (max-width: $tablet-max) {margin-right: 50px;}
	}
	&__user-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__user-item {
		width: 40px;
		height: 40px;
		margin-left: 20px;
		@media (max-width: $tablet-max) {margin-left: 0;}
		@media (max-width: $phone-max) {width: 30px; height: 30px;}
		a {
			display: block;
			width: 100%;
			height: 100%;
			background-color: white;
			border-radius: 50%;
			&:hover {opacity: 0.7;}
			&:active {opacity: 0.5;}
		}
		&--cart a {
			position: relative;
			background: url("../img/supermarket.svg") no-repeat center/24px white;
			@media (max-width: $phone-max) {
				position: absolute;
				top: 14px;
				right: 60px;
				width: 30px;
				height: 30px;
			}
		}
		&--entry {
			@media (max-width: $tablet-max) {display: none;}
			a {background: url("../img/entry.svg") no-repeat center/28px white;}
		}
	}
	&__cart-button {
		position: absolute;
		bottom: 0;
		right: -10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		padding: 0 !important;
		background-color: $main-green;
		border: none;
		border-radius: 50%;
		z-index: 2;
		@media (max-width: $tablet-max) {top: 0; right: -5px;}
		@media (max-width: $phone-max) {width: 16px; height: 16px;}
	}
	&__cart-span, #cart-total {
		font-size: 18px;
		color: white;
		@media (max-width: $phone-max) {font-size: 14px;}
	}
}
