.terms {
	ol {
		padding: 0;
		list-style-type: none;
		counter-reset: li;
	}
	ul {
		padding-left: 10px;
		list-style-type: circle;
		list-style-position: inside;
	}
	li {margin-top: 0.7em; margin-bottom: 0.7em;}
	ol > li {
		text-align: center;
		ol li {text-align: left;}
		&::before {counter-increment: li; content: counters(li,".") ". ";}
	}
}